# Deliverable 3. Create a Travel Itinerary Map.
----
1. Import the vacation CSV file. 
2. From the map above with pick 4 cities that are in close proximity (on the same continent) that the customer would travel to and create a directions layer map.
3. For the "travel_mode" use either "DRIVING", "BICYCLING", or "WALKING".
4. Take a screenshot of the route and save it. 
5. Then create a marker layer for the four cities. Each city will should have a pop-up marker that contains
    - The hotel name
    - The city
    - The country
    - The current weather description and the maximum temperature
---

## Make sure the initial dependencies and the Google API key are imported.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

In [2]:
# Configure gmaps
gmaps.configure(api_key=g_key)

## From your `Vacation_Search` folder from Deliverable 2, import the `WeatherPy_vacation.csv` file as a DataFrame named `vacation_df`

In [3]:
# Read the WeatherPy_vacation.csv into a DataFrame
vacation_df = pd.read_csv("../Vacation_Search/WeatherPy_vacation.csv")

# Display sample data
vacation_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,1,Punta Arenas,CL,48.31,clear sky,-53.1500,-70.9167,Hotel Hain
1,4,Westport,US,43.75,clear sky,41.1415,-73.3579,The Westport Inn
2,9,Ketchikan,US,41.47,clear sky,55.3422,-131.6461,Snow's Cove Lodge
3,10,Misawa,JP,45.61,broken clouds,40.6836,141.3597,Hoshino Resorts Aomoriya
4,16,Bredasdorp,ZA,55.26,overcast clouds,-34.5322,20.0403,Bredasdorp Country Manor
...,...,...,...,...,...,...,...,...
148,681,Sayyan,YE,52.12,clear sky,15.1718,44.3244,متنزه و بحيرة سيان
149,685,Viedma,AR,56.93,clear sky,-40.8135,-62.9967,Hotel Cristal
150,690,Pecos,US,44.31,broken clouds,31.4229,-103.4932,Knights Inn & Suites Pecos Northeast
151,693,Tsubame,JP,54.84,overcast clouds,37.6500,138.9333,Hotel Route Inn Tsubamesanjo Ekimae
152,704,Emborion,GR,51.30,overcast clouds,40.4833,21.5500,Villa Kastanodasos

**Note:** If the resulting DataFrame is empty, uncomment the following code to load sample data into the `clean_hotel_df`.

In [4]:
# In case of an empty DataFrame, load the sample data provided
# clean_hotel_df = pd.read_csv("WeatherPy_vacation-backup.csv")
# clean_hotel_df.head(10)

## In this step, you will set-up the pop-up markers. Review the code to create a marker layer map of the vacation search results. This code is the same as in Deliverable 2.

In [5]:
# Review the formatting template
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} °F</dd>
</dl>
"""

# Get the data from each row and add it to the formatting template and store the data in a list
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [6]:
# Add a marker layer for each city to the map.
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig = gmaps.figure()
fig.add_layer(marker_layer)

# Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

## From the vacation search map, *choose four cities* that a customer might want to visit. They should be close together and in the same country.

In [12]:
# Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# The starting and ending city should be the same city.
vacation_start =   vacation_df.loc[vacation_df["City"] == "Misawa"]
vacation_end = vacation_df.loc[vacation_df["City"] == "Misawa"]
vacation_stop1 = vacation_df.loc[vacation_df["City"] == "Iwanai"]
vacation_stop2 =  vacation_df.loc[vacation_df["City"] == "Ishinomaki"]
vacation_stop3 =  vacation_df.loc[vacation_df["City"] == "Sagae"]

## Use the `to_numpy()` function and list indexing to write code to retrieve the latitude-longitude pairs as tuples from each city DataFrame.

In [23]:
# Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
start = vacation_start[["Lat", "Lng"]].to_numpy()[0]
end = vacation_end[["Lat", "Lng"]].to_numpy()[0]
stop1 = vacation_stop1[["Lat", "Lng"]].to_numpy()[0]
stop2 = vacation_stop2[["Lat", "Lng"]].to_numpy()[0]
stop3 = vacation_stop3[["Lat", "Lng"]].to_numpy()[0]

In [24]:
print(start)

[ 40.6836 141.3597]

In [25]:
print(end)

[ 40.6836 141.3597]

In [26]:
print(stop1)

[ 42.9744 140.5089]

In [27]:
print(stop2)

[ 38.4167 141.3   ]

In [28]:
print(stop3)

[ 38.3725 140.2725]

## Use the [gmaps documentation](https://jupyter-gmaps.readthedocs.io/en/latest/tutorial.html#directions-layer) to create a directions layer map using the variables from the previous step. Where the starting and ending city are the same city, the `waypoints` are the three other cities, and the `travel_mode` is either `"DRIVING"`, `"BICYCLING"`, or `"WALKING"`.

In [29]:
# Define a new figure object
fig = gmaps.figure()

# Create a direction layer map using the start and end latitude-longitude pairs, and stop1, stop2, and stop3 as the waypoints.
# The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".
vacation_itinerary = gmaps.directions_layer(start, end, waypoints=[stop1,stop2,stop3], travel_mode= "DRIVING")
# Add the layer to the map
fig.add_layer(vacation_itinerary)

# Display the map
fig

Figure(layout=FigureLayout(height='420px'))

## Use the provided `concat()` function code snippet to combine the four separate city DataFrames into one DataFrame.

In [30]:
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat(
    [
        vacation_start,
        vacation_stop1,
        vacation_stop2,
        vacation_stop3
    ],
    ignore_index = True
)

# Display sample data
itinerary_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,10,Misawa,JP,45.61,broken clouds,40.6836,141.3597,Hoshino Resorts Aomoriya
1,459,Iwanai,JP,41.20,light rain,42.9744,140.5089,いわない高原ホテル
2,215,Ishinomaki,JP,53.60,broken clouds,38.4167,141.3000,Ishinomaki Grand Hotel
3,102,Sagae,JP,51.78,broken clouds,38.3725,140.2725,Hotel Symphony

## Refactor the code from Step 6 to create a new marker layer map of the cities on the travel route.

In [31]:
# Review the formatting template
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} °F</dd>
</dl>
"""

# Get the data from each row and add it to the formatting template and store the data in a list
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [32]:
# Add a marker layer for each city to the map.
markers = gmaps.marker_layer(locations, info_box_content=hotel_info)


# Define a new figure object
fig = gmaps.figure()

# Add the layer to the map
fig.add_layer(markers)

# Display the map
fig

Figure(layout=FigureLayout(height='420px'))